<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="営業支援"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EmergencyActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".PromptActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RouteActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TalksActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RebuttalActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".CalcActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TimerActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ExpenseActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ReferenceActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MemoActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>
</manifest>
